<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/">Leveloper</a></li>
    </ul>
    <div>
        <a href="/"><h3 class="text-muted">HELLO chacha</h3></a>
        <a class="btn btn-success active" href="/oauth2/authorization/google" th:if="${userName}==null">Google 로그인</a>
        <a class="btn btn-secondary active" href="/oauth2/authorization/naver" th:if="${userName}==null">Naver 로그인</a>
        <a class="btn btn-lg btn-secondary" href="/logout" th:if="${userName}!=null">로그아웃</a>
        <h3 th:text="${userName}">HELLO chacha</h3>
    </div>

</div>