{{>layout/header}}
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <div class="row">
                <div class="col-md-6">
                    <a href="/items/new" class="btn btn-lg btn-block btn-secondary" role="button">상품 등록</a>
                </div>
                <div class="col-md-6">
                    <a href="/" class="btn btn-lg btn-block btn-secondary" role="button">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>


{{>layout/footer}}