{{>layout/header}}
<div class="row">
    <div class="col-md-6">
        <a href="/items/new" class="btn btn-lg btn-block btn-secondary" role="button">상품 등록</a>
    </div>
    <div class="col-md-6">
        <a href="/" class="btn btn-lg btn-block btn-secondary" role="button">Logout</a>
    </div>

</div>


{{>layout/footer}}