{{>layout/header}}
<div class="col-md-6">
    <form>
        <div class="form-group">
            <label for="name">상품</label>
            <input type="text" class="form-control" id="name" placeholder="상품명을 입력하세요.">
        </div>
        <div class="form-group">
            <label for="price">가격</label>
            <input type="number" class="form-control" id="price" placeholder="0">
        </div>
        <div class="form-group">
            <label for="stockQuantity">수량</label>
            <input type="number" class="form-control" id="stockQuantity" placeholder="0">
        </div>
        <div class="form-group">
            <label for="author">저자</label>
            <input type="text" class="form-control" id="author" placeholder="저자를 입력해주세요.">
        </div>
        <div class="form-group">
            <label for="title">ISBM</label>
            <input type="text" class="form-control" id="isbn" placeholder="ISBN을 입력하세요.">
        </div>

    </form>
    <a href="/" role="button" class="btn btn-secondary">취소</a>
    <button type="button" class="btn btn-primary" id="btn-post-save">등록</button>
</div>
{{>layout/footer}}